body {
  margin: 0;
  font-family: "Inter", sans-serif;
}
.showcase {
  width: 100%;
  height: 800px;
  background-image: url("../images/background/donation13.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  box-shadow: 100px 100px 100px 500px rgba(0, 0, 0, 0.33) inset;
}
.shoecase-artical {
  width: 40%;
  margin: auto;
  text-align: center;
}
.shoecase-artical h1 {
  font-size: 65px;
  line-height: 79px;
  margin-top: 0;
  margin-bottom: 20px;
  color: white;
  padding-top: 130px;
}
.shoecase-artical p {
  color: white;
  margin-bottom: 50px;
  font-size: 23px;
  line-height: 28px;
}
.primary-button {
  text-decoration: none;
  padding: 15px 40px;
  color: white;
  background-color: #ff5959;
  border-radius: 5px;
}
.donate-artical,
.donate-plan-artical,
.get-my-updates-artical {
  text-align: center;
  width: 30%;
  margin: auto;
  padding-top: 80px;
  padding-bottom: 50px;
}
.donate-artical h1 {
  color: #121212;
  font-size: 45px;
}
.donate-artical p {
  color: #707070;
}
.donate-amount-container {
  display: flex;
  justify-content: space-evenly;
  width: 60%;
  margin: auto;
}
.donate-amount {
  width: 170px;
  height: 155px;
  border-radius: 5px;
  background-color: #fafafa;
}
.donate-amount p {
  font-size: 30px;
  text-align: center;
  padding: 20px;
  font-family: "Poppins";
}
#most-popular-amount {
  border: 1px solid #ff5959;
  background-color: #ffeeee;
}
.amount-place {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.amount-place input[type="number"] {
  width: 30%;
  height: 40px;
  margin-top: 100px;
  margin-bottom: 20px;
  border: none;
  border-bottom: 5px solid #dadada;
}
.donate-plan-container {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  margin: auto;
}
.donate-plan-artical h1 {
  font-size: 45px;
  color: #121212;
}
.donate-plan-artical p {
  font-family: "Poppins";
  color: #707070;
}

.donate-plan-item {
  border-radius: 5px;
  width: 20%;
  padding: 50px 15px 30px 15px;
}
.donate-plan-item-artical {
  text-align: left;
  font-size: small;
  font-family: "Poppins";
}
.donate-plan-item-artical h1 {
  color: #000;
}
.donate-plan-item-artical p {
  color: #707070;
}
#donate-plan-item-1 {
  background-color: #4f9da61a;
}
#donate-plan-item-2 {
  background-color: #ff59591a;
}
#donate-plan-item-3 {
  background-color: #fff4d6;
}
.upcoming-events h1 {
  font-size: 44px;
  font-family: "Poppins";
}

.upcoming-events-cause-container {
  display: flex;
  width: 70%;
  justify-content: space-evenly;
  margin: auto;
}
.upcoming-events-items img {
  width: 144px;
  height: 144px;
  padding: 20px;
}
.upcoming-events {
  width: 90%;
}
.upcoming-events-items {
  display: flex;
  height: 200px;
  align-items: center;
}
.upcoming-events-items-artical {
  width: 60%;
  text-align: left;
}
.upcoming-events-items-artical p {
  font-size: small;
  font-family: "Poppins";
  margin: 0;
  padding: 5px 5px;
  color: #737373;
}
.upcoming-events-items-artical h3 {
  font-family: "Poppins";
  margin: 0;
}
.featured-cause {
  width: 90%;
}
.featured-cause h1 {
  font-size: 44px;
  font-family: "Poppins";
}
.upcoming-featured-items-blog {
  display: flex;
  height: 500px;
  padding: 50px 20px 50px 50px;
  background-color: #4f9da61a;
}
.upcoming-featured-items-blog img {
  width: 300px;
  height: 400px;
  padding-right: 30px;
}
.upcoming-featured-items-sartical {
  padding-top: 100px;
}
.upcoming-featured-items-sartical h3 {
  margin: 0;
  font-family: "Poppins";
}
.upcoming-featured-items-sartical p {
  font-size: small;
  font-family: "Poppins";
  margin-bottom: 20px;
}

.get-my-updates-conneted {
  width: 50%;
  height: 250px;
  background-color: #fff4d6;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #121212;
  border-radius: 5px;
}
.get-my-updates-artical h1 {
  font-size: 45px;
}
.get-my-updates-artical p {
  color: #707070;
}
.get-my-updates-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.get-my-updates-conneted input[type="text"] {
  width: 40%;
  height: 40px;
  background-color: #d9d9d9;
}
footer {
  width: 100%;
  height: 200px;
  background-color: #121212;
  padding-top: 50px;
  margin-top: 100px;
}
footer p {
  color: #fafafa;
  text-align: center;
}
footer h1 {
  color: #ff5959;
  text-align: center;
}
